.logo{
    width:400px;
    height:auto;
    position:absolute;
    margin-left:35%;
}

.padre {
    /*background: blue;*/
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.fondo{
    background:black;
    width:800px;
    height:800px;
}

.calendario_contenedor {
    /*background: #60424c;*/
    width: 500px;
    height: 700px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.calendario {
    /*background: yellow;*/
    width: 400px;
    height: 300px;
    margin: 10px;
}

.elementos_contenedor {
    /*background: #60424c;*/
    width: 500px;
    height: 700px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.elemento {
    background: #984a59;
    border-radius:5px;
    width: 300px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton{
    border-radius:5px;
}