* {
    margin:10px;
    padding:10px;
}

.padre{
    background:black;
    display:flex;

}

    .calendarios {
        background: blue;
        flex: auto;
        display: flex;
        flex-flow: column wrap;
        
    }
.calen {
    background: green;
    flex: auto;
    height: 400px;
}
.calendario{
    height:100px;
}
    
    .elementos{
        background:yellow;
        flex:auto;
        
    }
        .pantallas{
            background:red;
        }

