.encabezado {
    padding-top: 1rem;
    background-color: orange;
}

.caja_titulo {
    display: flex;
    justify-content: flex-start;
}

.titulo {
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.boton {
    background-color: orange;
}

.contenedor {
    width:100%;
    height:90px;
   
}