.pez{
    width:300px;
    height:auto;
}

.padre {
    /*background: blue;*/
    width: 600px;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.head{
    width:600px;
    height:100px;
    background:orange;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.contenedor {
    /*background: yellow;*/
    width: 600px;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: column nowrap;
}

.elementos {
    margin: 10px;
    /*background: green;*/
    width: 500px;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
}
